* {
  background-color: #bfd2e0;
  
}

#instructions {

  display: inline;

}

#image1, #image2, #image3 {
position: relative;
border: 2px solid red;
height: 250px;
width: 250px;
display: inline;
padding-left: auto;
padding-right: auto;

}

#list {

}
